#These go in the Javascript file that draws the picture
#
::functionheader::
function drawPicture(canvas, layer46_1_color, layer47_1_color, layer52_7_color, layer52_8_color) {
      if (!canvas.getContext) return;
      var ctx=canvas.getContext('2d');
      //
      //Set scale factors. NOTE: ratio of w:h must be same as for original
      //
      var wf=canvas.width/300;
      //
::end::
::functioncolors::
function picture_colors() {
$(document).ready(function (){
    var s=document.getElementById("shirt_color");
    localStorage.setItem("p4_shirt_color", s.value);
    var t=document.getElementById("legs_color");
    localStorage.setItem("p4_legs_color", t.value);
    var f=document.getElementById("hoover_bottom");
    localStorage.setItem("p4_hoover_bottom", f.value);
    var h=document.getElementById("hoover_hose");
    localStorage.setItem("p4_hoover_hose", h.value);
    canvas=document.getElementById("mrintellyjont");
    drawPicture(canvas, s.value, t.value, f.value, h.value);
});
};
function saveColorScheme() {
$(document).ready(function (){
    var name=(document.getElementById("schemeID")).value;

    localStorage.setItem(name.concat("p4_shirt_color"), localStorage.getItem("p4_shirt_color"));
    localStorage.setItem(name.concat("p4_legs_color"), localStorage.getItem("p4_legs_color"));
    localStorage.setItem(name.concat("p4_hoover_bottom"), localStorage.getItem("p4_hoover_bottom"));
    localStorage.setItem(name.concat("p4_hoover_hose"), localStorage.getItem("p4_hoover_hose"));
});
};
function restoreColorScheme() {
$(document).ready(function(){
    var name=(document.getElementById("restoreID")).value;
    var s = localStorage.getItem(name.concat("p4_shirt_color"));
    var l = localStorage.getItem(name.concat("p4_legs_color"));
    var f = localStorage.getItem(name.concat("p4_hoover_bottom"));
    var h = localStorage.getItem(name.concat("p4_hoover_hose"));
    canvas=document.getElementById("mrintellyjont");
    drawPicture(canvas, s, l, f, h);

});
};
function clearColorSchemes() {
    $(document).ready(function(){
       localStorage.clear();
});
};
::end::
#
#//These go into html frame.
#
::picturefile::
<script type="text/javascript" src="js/Picture4.js"></script>
::end::
::functioncall::
drawPicture(canvas, "#ff0000", "#daa550", "#6699cc", "#ffff99");
::end::
::initialisecolor::
        <script type="text/javascript">
           $(function() {
                $(document).ready(function (){
                        var sc = document.getElementById('shirt_color');
                        sc.value = sc.defaultValue;
                        $(sc).colorPicker();
                        var lc = document.getElementById('legs_color');
                        lc.value = lc.defaultValue;
                        $(lc).colorPicker();
                        var fc = document.getElementById('hoover_bottom');
                        fc.value = fc.defaultValue;
                        $(fc).colorPicker();
                        var hc = document.getElementById('hoover_hose');
                        hc.value = hc.defaultValue;
                        $(hc).colorPicker();
                });
           });
        </script>
::end::
::canvasheading::
<h1>Picture4</h1>
::end::
::words::
<p>He invented the new, improved vacuum cleaner.</p>
::end::
::navigation::
<a class="next" href="page5.html"><img src="js/forward.png"></a>
<a class="last" href="page3.html"><img src="js/backward.png"></a>
::end::
::colorselect::
<label for="shirt_color">Shirt colour</label>
<input class="color" name="shirt_color" id="shirt_color" value="ff0000">
<label for="legs_color">Pants colour</label>
<input class="color" name="legs_color" id="legs_color" value="b8860b">
<label for="hoover_bottom">Cleaner colour</label>
<input class="color" name="hoover_bottom" id="hoover_bottom" value="6699cc">
<label for="hoover_hose">Hose colour</label>
<input class="color" name="hoover_hose" id="hoover_hose" value="ffff99">
::end::
