#These go in the Javascript file that draws the picture
#
::functionheader::
function drawPicture(canvas, layer25_1_color, layer16_1_color, layer22_1_color, layer27_1_color) {
      if (!canvas.getContext) return;
      var ctx=canvas.getContext('2d');
      //
      //Set scale factors. NOTE: ratio of w:h must be same as for original
      //
      var wf=canvas.width/300;
      //
::end::
::functioncolors::
function picture_colors() {
$(document).ready(function (){
    var s=document.getElementById("hair_color");
    localStorage.setItem("p2_hair_color", s.value);
    var t=document.getElementById("dress_color");
    localStorage.setItem("p2_dress_color", s.value);
    var f=document.getElementById("face_color");
    localStorage.setItem("p2_face_color", s.value);
    var h=document.getElementById("flask_contents");
    localStorage.setItem("p2_flask_contents", s.value);
    canvas=document.getElementById("mrintellyjont");
    drawPicture(canvas, s.value, t.value, f.value, h.value);
});
};
function saveColorScheme() {
$(document).ready(function (){
    var name=(document.getElementById("schemeID")).value;

    localStorage.setItem(name.concat("p2_hair_color"), localStorage.getItem("p2_hair_color"));
    localStorage.setItem(name.concat("p2_dress_color"), localStorage.getItem("p2_dress_color"));
    localStorage.setItem(name.concat("p2_face_color"), localStorage.getItem("p2_face_color"));
    localStorage.setItem(name.concat("p2_flask_contents"), localStorage.getItem("p2_flask_contents"));
});
};
function restoreColorScheme() {
$(document).ready(function(){
    var name=(document.getElementById("restoreID")).value;
    var s = localStorage.getItem(name.concat("p2_hair_color"));
    var l = localStorage.getItem(name.concat("p2_dress_color"));
    var f = localStorage.getItem(name.concat("p2_face_color"));
    var h = localStorage.getItem(name.concat("p2_flask_contents"));
    canvas=document.getElementById("mrintellyjont");
    drawPicture(canvas, s, l, f, h);

});
};
function clearColorSchemes() {
    $(document).ready(function(){
       localStorage.clear();
});
};
::end::
#
#//These go into html frame.
#
::picturefile::
<script type="text/javascript" src="js/Picture2.js"></script>
::end::
::functioncall::
drawPicture(canvas, "#ffd700", "#ff4500", "#ffe4e1", "#808000");
::end::
::initialisecolor::
        <script type="text/javascript">
           $(function() {
                $(document).ready(function (){
                        var sc = document.getElementById('hair_color');
                        sc.value = sc.defaultValue;
                        $(sc).colorPicker();
                        var lc = document.getElementById('dress_color');
                        lc.value = lc.defaultValue;
                        $(lc).colorPicker();
                        var fc = document.getElementById('face_color');
                        fc.value = fc.defaultValue;
                        $(fc).colorPicker();
                        var hc = document.getElementById('flask_contents');
                        hc.value = hc.defaultValue;
                        $(hc).colorPicker();
                });
           });
        </script>
::end::
::canvasheading::
<h1>Picture1</h1>
::end::
::words::
<p>...well, almost everything. He knew all of the elements and how to make things go fizz...</p>
::end::
::navigation::
<a class="next" href="page3.html"><img src="js/forward.png"></a>
<a class="last" href="page1.html"><img src="js/backward.png"></a>
::end::
::colorselect::
<label for="hair_color">Hair colour</label>
<input class="color" name="hair_color" id="hair_color" value="ffd700">
<label for="dress_color">Dress colour</label>
<input class="color" name="dress_color" id="dress_color" value="ff4500">
<label for="face_color">Face colour</label>
<input class="color" name="face_color" id="face_color" value="ffe4e1">
<label for="flask_contents">Flask Contents</label>
<input class="color" name="flask_contents" id="flask_contents" value="808000">
::end::
