#These go in the Javascript file that draws the picture
#
::functionheader::
function drawPicture(canvas, layer58_1_color, layer60_1_color, layer68_1_color, layer69_1_color) {
      if (!canvas.getContext) return;
      var ctx=canvas.getContext('2d');
      //
      //Set scale factors.
      //
      var wf=canvas.width/300;
      //
::end::
::functioncolors::
function picture_colors() {
$(document).ready(function (){
    var s=document.getElementById("shirt_color");
    localStorage.setItem("p6_shirt_color", s.value);
    var t=document.getElementById("dress_color");
    localStorage.setItem("p6_dress_color", t.value);
    var f=document.getElementById("sand_color");
    localStorage.setItem("p6_sand_color", f.value);
    var h=document.getElementById("sea_color");
    localStorage.setItem("p6_sea_color", h.value);
    canvas=document.getElementById("mrintellyjont");
    drawPicture(canvas, s.value, t.value, f.value, h.value);
});
};
function saveColorScheme() {
$(document).ready(function (){
    var name=(document.getElementById("schemeID")).value;

    localStorage.setItem(name.concat("p6_shirt_color"), localStorage.getItem("p6_shirt_color"));
    localStorage.setItem(name.concat("p6_dress_color"), localStorage.getItem("p6_dress_color"));
    localStorage.setItem(name.concat("p6_sand_color"), localStorage.getItem("p6_sand_color"));
    localStorage.setItem(name.concat("p6_sea_color"), localStorage.getItem("p6_sea_color"));
});
};
function restoreColorScheme() {
$(document).ready(function(){
    var name=(document.getElementById("restoreID")).value;
    var s = localStorage.getItem(name.concat("p6_shirt_color"));
    var l = localStorage.getItem(name.concat("p6_dress_color"));
    var f = localStorage.getItem(name.concat("p6_sand_color"));
    var h = localStorage.getItem(name.concat("p6_sea_color"));
    canvas=document.getElementById("mrintellyjont");
    drawPicture(canvas, s, l, f, h);

});
};
function clearColorSchemes() {
    $(document).ready(function(){
       localStorage.clear();
});
};
::end::
#
#//These go into html frame.
#
::picturefile::
<script type="text/javascript" src="js/Picture6.js"></script>
::end::
::functioncall::
drawPicture(canvas, "#ff0000", "#ffff99", "#ffd770", "#0197fd");
::end::
::initialisecolor::
        <script type="text/javascript">
           $(function() {
                $(document).ready(function (){
                        var sc = document.getElementById('shirt_color');
                        sc.value = sc.defaultValue;
                        $(sc).colorPicker();
                        var lc = document.getElementById('dress_color');
                        lc.value = lc.defaultValue;
                        $(lc).colorPicker();
                        var fc = document.getElementById('sand_color');
                        fc.value = fc.defaultValue;
                        $(fc).colorPicker();
                        var hc = document.getElementById('sea_color');
                        hc.value = hc.defaultValue;
                        $(hc).colorPicker();
                });
           });
        </script>
::end::
::canvasheading::
<h1>Picture6</h1>
::end::
::words::
<p>In 1907 he got married on the beach.</p>
::end::
::navigation::
<a class="next" href="page7.html"><img src="js/forward.png"></a>
<a class="last" href="page5.html"><img src="js/backward.png"></a>
::end::
::colorselect::
<label for="shirt_color">Shirt colour</label>
<input class="color" name="shirt_color" id="shirt_color" value="ff0000">
<label for="dress_color">Dress colour</label>
<input class="color" name="dress_color" id="dress_color" value="ffff99">
<label for="sand_color">Sand colour</label>
<input class="color" name="sand_color" id="sand_color" value="ffd770">
<label for="sea_color">Sea colour</label>
<input class="color" name="sea_color" id="sea_color" value="0197fd">
::end::
