#These go in the Javascript file that draws the picture
#
::functionheader::
function drawPicture(canvas, layer85_1_color, layer82_1_color, layer84_1_color, layer88_1_color) {
      if (!canvas.getContext) return;
      var ctx=canvas.getContext('2d');
      //
      //Set scale factors. NOTE: ratio of w:h must be same as for original
      //
      var wf=canvas.width/300;
      //
::end::
::functioncolors::
function picture_colors() {
$(document).ready(function (){
    var s=document.getElementById("shirt_color");
    localStorage.setItem("p7_shirt_color", s.value);
    var t=document.getElementById("tv_color");
    localStorage.setItem("p7_tv_color", t.value);
    var f=document.getElementById("face_color");
    localStorage.setItem("p7_face_color", f.value);
    var h=document.getElementById("hair_color");
    localStorage.setItem("p7_hair_color", h.value);
    canvas=document.getElementById("mrintellyjont");
    drawPicture(canvas, s.value, t.value, f.value, h.value);
});
};
function saveColorScheme() {
$(document).ready(function (){
    var name=(document.getElementById("schemeID")).value;

    localStorage.setItem(name.concat("p7_shirt_color"), localStorage.getItem("p7_shirt_color"));
    localStorage.setItem(name.concat("p7_tv_color"), localStorage.getItem("p7_tv_color"));
    localStorage.setItem(name.concat("p7_face_color"), localStorage.getItem("p7_face_color"));
    localStorage.setItem(name.concat("p7_hair_color"), localStorage.getItem("p7_hair_color"));
});
};
function restoreColorScheme() {
$(document).ready(function(){
    var name=(document.getElementById("restoreID")).value;
    var s = localStorage.getItem(name.concat("p7_shirt_color"));
    var l = localStorage.getItem(name.concat("p7_tv_color"));
    var f = localStorage.getItem(name.concat("p7_face_color"));
    var h = localStorage.getItem(name.concat("p7_hair_color"));
    canvas=document.getElementById("mrintellyjont");
    drawPicture(canvas, s, l, f, h);

});
};
function clearColorSchemes() {
    $(document).ready(function(){
       localStorage.clear();
});
};
::end::
#
#//These go into html frame.
#
::picturefile::
<script type="text/javascript" src="js/Picture7.js"></script>
::end::
::functioncall::
drawPicture(canvas, "#ff0000", "#dcdcdc", "#ffe4e1", "#a0522d");
::end::
::initialisecolor::
        <script type="text/javascript">
           $(function() {
                $(document).ready(function (){
                        var sc = document.getElementById('shirt_color');
                        sc.value = sc.defaultValue;
                        $(sc).colorPicker();
                        var lc = document.getElementById('tv_color');
                        lc.value = lc.defaultValue;
                        $(lc).colorPicker();
                        var fc = document.getElementById('face_color');
                        fc.value = fc.defaultValue;
                        $(fc).colorPicker();
                        var hc = document.getElementById('hair_color');
                        hc.value = hc.defaultValue;
                        $(hc).colorPicker();
                });
           });
        </script>
::end::
::canvasheading::
<h1>Picture7</h1>
::end::
::words::
<p>He became famous and was on T.V.</p>
::end::
::navigation::
<a class="next" href="page8.html"><img src="js/forward.png"></a>
<a class="last" href="page6.html"><img src="js/backward.png"></a>
::end::
::colorselect::
<label for="shirt_color">Shirt colour</label>
<input class="color" name="shirt_color" id="shirt_color" value="ff0000">
<label for="tv_color">TV colour</label>
<input class="color" name="tv_color" id="tv_color" value="dcdcdc">
<label for="face_color">Face colour</label>
<input class="color" name="face_color" id="face_color" value="ffe4e1">
<label for="hair_color">Hair colour</label>
<input class="color" name="hair_color" id="hair_color" value="a0522d">
::end::
